<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="RestaurantOnline.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings><add name="RestaurantEDM" connectionString="metadata=res://*/Models.RestaurantEDM.csdl|res://*/Models.RestaurantEDM.ssdl|res://*/Models.RestaurantEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MNQOP15\SQLEXPRESS01;initial catalog=RestaurantOnline;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<applicationSettings>
        <RestaurantOnline.Properties.Settings>
                <setting name="DiscountMeniu" serializeAs="String">
                        <value>15</value>
                </setting>
                <setting name="DiscountComanda" serializeAs="String">
                        <value>10</value>
                </setting>
                <setting name="PretPentruDiscount" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="PretPentruTransportGratuit" serializeAs="String">
                        <value>70</value>
                </setting>
                <setting name="TransportGratuit" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Transport" serializeAs="String">
                        <value>15</value>
                </setting>
        </RestaurantOnline.Properties.Settings>
    </applicationSettings>
</configuration>